{% extends "base.html" %}
{% block extrahead %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="view" style="background-image: url({% static '/images/DW_stbd_bow_gal_bay_1.jpg' %}); background-repeat: no-repeat; background-size: cover; background-position: center center;">
                <div class="row">
                    <div class="col-12">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        &nbsp;
                    </div>
                </div>
                <div class="row text-white">
                    <div class="col-3">
                    </div>
                    <div class="col-6">
                        <h1 class="jumbotron-heading">Gemini Owners Resources</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        &nbsp;
                    </div>
                </div>
                <div class="row text-white">
                    <div class="col-3">
                    </div>
                    <div class="col-6">
                        <p>This is a collection of information links for owners of Gemini Catamarans</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <h2 class="">Owners Groups</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h4>Groups.io</h4> <a href="https://geminicatamarans.groups.io/g/main"> https://geminicatamarans.groups.io/g/main</a> <br> <b>Restricted access</b> for owners and selected others. Provides a messaging function with email integration and good search tools, a collaborative wiki, storage for photos and files with good search tools. Started in 2019 by some of the same owners that use other groups.
            </div>
            <div class="col-4">
                <h4>Yahoo! Groups</h4> <a href="https://groups.yahoo.com/neo/groups/Gemini_Cats/info">https://groups.yahoo.com/neo/groups/Gemini_Cats/info</a> <br> <b>Restricted access</b> for owners and selected others. Provides a messaging function with email integration, a collaborative wiki, storage for photos and files. Older but functional technology that has been in use since 2001 and has about 90000 messages posted over that period.
            </div>
            <div class="col-4">
                <h4>Facebook</h4> <a href="https://www.facebook.com/groups/401599849969457/">https://www.facebook.com/groups/401599849969457/</a>

                <b>Restricted access</b> for owners (and selected others?). Started in 2013 by some of the owners from the Yahoo! group.
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row"  style="height:30px;">
            <div class="col-12">
                &nbsp;
                <br>
                &nbsp;
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <h2 class="">Websites</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h4>The Boat Galley</h4> <a href="https://theboatgalley.com/">https://theboatgalley.com/</a> <br>
                Not specifically a Gemini site, is filled with interesting articles about the practical challenges of living aboard full time. Author lives aboard a Gemini.
            </div>
            <div class="col-4">
                <h4>Gemini Catamarans</h4> <a href="https://www.geminicatamarans.com/portal/gemini/">https://www.geminicatamarans.com/portal/gemini/</a>
                <br>
                The commany that now produces Gemini Catamarans. The original company, Performance Cruising, Inc. was unable to weather the downturn in the boating marked that started with the mortgage crisis in 2008. Some of the people involved went along on the ride through various owners, and are still involved. They still make the newest model Gemini, the Legacy, and they also sell some used Gemini's, so you might be able to find a good 105Mc through them.
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-12">
                <h2>Holden Geminis</h2>
                <p>You might have gotten here searching for one of these cars, as it seems that their owners are fond of them. Try this search on Google: "holden gemini owners" </p>
            </div>
        </div>
    </div>
{% endblock %}
