<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

        <title>Gemini Owners Resources</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static '/static/css/bootstrap.min.css' %}">

        <!-- Custom styles for this site -->
        <link rel="stylesheet" href="{% static '/static/css/main.css' %}">
        <style>
        </style>
        <script src="{% static '/static/js/vendor/modernizr-2.6.2.js' %}"></script>
        {% block extrahead %}{% endblock %}
    </head>


    <body style="">
        <header>
            <div class="collapse bg-dark" id="navbarHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-7 py-4">
                            <h4 class="text-white">
                                <span ><a class="btn-link {% if_current_page '/about.html' 'disabled' '' %}" href="{% url '/about.html' %}">About</a></span></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-dark bg-dark box-shadow">
                <div class="container d-flex justify-content-between">
                    {% insert_current_page curpage %}
                    {% if curpage == "/index.html" %}
                    <span class="navbar-brand">
                        <strong>Gemini Catamaran Owners Information Resources</strong>
                    </span>
                    {{ my_variable }}
                    {% else %}

                    <a class="navbar-brand" href="{% url "/index.html" %}">
                        <strong>Gemini Catamaran Owners Information Resources</strong>
                    </a>
                    {% endif %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </header>



    {% block body %}
    {% endblock %}
    <script src="{% static '/static/js/vendor/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/static/js/vendor/popper.min.js' %}"></script>
    <script src="{% static '/static/js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static '/static/js/main.js' %}"></script>
    <script>
     $(document).ready(function() {
         var request = {
             url: 'https://data.geminiowners.com/data.txt',
             type: "GET",
             contentType: "text",
             success: function(response) {
                 console.log(response);
             },
             error: function(xhr, status, error) {
                 console.error(xhr);
                 console.error(error);
             }
         }
         $.ajax(request);
     });

    </script>
  </body>

  {% block scripts %}
  {% endblock %}
</html>
